{% import "macros.html" as macros %}
<form id="fmask" action="" method="post" >{% csrf_token %}
    <div class="form-item" style="margin-top:0;">
        <div id="askFormBar">
            {% if not request.user.is_authenticated() %}
                <p>login to post question info</p>
            {% else %}
                {% if settings.EMAIL_VALIDATION %}
                    {% if not request.user.email_isvalid %}
                            {% trans email=request.user.email %}must have valid {{email}} to post,
                            see {{email_validation_faq_url}}
                            {% endtrans %}
                    {% endif %}
                {% endif %}
            {% endif %}
            <input id="id_title"
            			 class="questionTitleInput"
            			 name="title"
            			 autocomplete="off"
                	 value="{% if form.initial.title %}{{form.initial.title}}{% endif %}"/>
            <span class="form-error">{{ form.title.errors }}</span>
        </div>
        <div class="title-desc" style="padding-left:15px;">
            {{ form.title.help_text }}
        </div>
    </div>
    <div id='question-list'></div>
    {{macros.edit_post(form, post_type='question', edit_title=False)}}
    {% if not request.user.is_authenticated() %}
    	<input type="submit" name="post_anon" value="post question" class="submit" />
    {% else %}
    	<input type="submit" name="post" value="post question" class="submit" />
    {% endif %}

    <div class="clear"></div>
    <div class="question-options">
        {% if settings.WIKI_ON %}
            {{ macros.checkbox_in_div(form.wiki) }}
        {% endif %}
        {% if settings.ALLOW_ASK_ANONYMOUSLY %}
            {{ macros.checkbox_in_div(form.ask_anonymously) }}
        {% endif %}
    </div>

    <div style="height:30px;"></div>
  {#<div class="boxC">
    <h3>question tips</h3>
    <ul>
        <li>
        	please ask a relevant question
        </li>
        <li>
          please try provide enough details
        </li>
        <li>
          be clear and concise
        </li>
    </ul>
	</div>#}
</form>
