<!-- template footer.html -->
<div class="clear"></div>
<div id="ground">
    <div class="footerLinks">
    		This information is intended for U.S. Healthcare Professionals.
    		<br/><br/>
    		email: <a href="mailto:medical.information@themedco.com">medical.information@themedco.com</a>
    		<br/>
				phone: Monday-Friday 8:00 AM - 5:30 PM EST
				<br/>
				1-888-977-MDCO (1-888-977-6326) or 1-973-290-6018
        <br/>
        <br/>
        
        <a href="{% url about %}">{% trans %}about{% endtrans %}</a>
        <span class="link-separator"> |</span>
        
        {# <a href="{% url faq %}">{% trans %}faq{% endtrans %}</a>
        <span class="link-separator"> |</span> #}
        
        <a href="http://themedicinescompany.com/privacy_policy.shtml">{% trans %}privacy policy{% endtrans %}</a>
        <span class="link-separator"> |</span>
        
        {% spaceless %}
        <a href=
            {% if settings.FEEDBACK_SITE_URL %}
                "{{settings.FEEDBACK_SITE_URL}}"
                target="_blank">
            {% else %}
                "{% url feedback %}?next={{request.path}}">
            {% endif %}
            {% trans %}give feedback{% endtrans %}
        </a>
        <span class="link-separator"> |</span>
        {% endspaceless %}
        
        <a href="/m/default/media/images/Prescribing Information Angiomax.pdf">angiomax prescribing information</a>
        <span class="link-separator"> |</span>
        
        <a href="/m/default/media/images/Prescribing Information Clevidipine.pdf">clevidipine prescribing information</a>
    </div>
</div>

<!-- end template footer.html -->
