<!-- template header.html -->
{% import "macros.html" as macros %}
<div id="ab-header">
    <div class="content-wrapper">
        <div id="ab-meta-nav">
        	{% include "blocks/header_meta_links.html" %}
      	</div>
      	<div class="application-logo">
        	<img src="/m/default/media/images/medco-logo-270x50.png" />
        </div>
        <div id="ab-main-nav">
            <a
                id="nav_questions"
                href="{% url questions %}"
                {% if active_tab == 'questions' %}class="on"{% endif %}
            >{% trans %}questions{% endtrans %}</a>
            <a
                id="nav_tags"
                href="{% url tags %}"
                {% if active_tab == 'tags' %}class="on"{% endif %}
            >{% trans %}tags{% endtrans %}</a>
            {#% <a
                id="nav_users"
                href="{% url users %}"
                {% if active_tab == 'users' %}class="on"{% endif %}
            >{% trans %}users{% endtrans %}</a>
            <a
                id="nav_badges"
                href="{% url badges %}"
                {% if active_tab == 'badges' %}class="on"{% endif %}
            >{% trans %}badges{% endtrans %}</a> %#}
            <a
                id="nav_ask"
                href="{% url ask %}"
                class="{% if active_tab == 'ask' %}on{% else %}special{% endif %}"
            >{% trans %}ask a question{% endtrans %}</a>

            <!--
            <div id="LiveChat_1310743928" style="display:inline; text-transform:lowercase;">
            	<a href="http://www.livechatinc.com/?partner=lc_1057437">
            		live chat
          		</a>
          	</div>
						<script type="text/javascript">
							 var __lc_buttons = __lc_buttons || [];
							__lc_buttons.push({
								elementId: 'LiveChat_1310743928',
								language: 'en',
								skill: '0',
								autologin: true,
								type: 'text',
								labels: {
									online: 'LiveChat%20now',
									offline: 'Leave%20a%20message'
								}
							});
						</script>
            -->

        </div>

        <div id="LiveChat_1310744143" style="position:absolute; right:10px; top:50px;">
        	<a href="http://www.livechatinc.com/?partner=lc_1057437"></a>
      	</div>

<script type="text/javascript">
	 var __lc_buttons = __lc_buttons || [];
	__lc_buttons.push({
		elementId: 'LiveChat_1310744143',
		language: 'en',
		skill: '0',
		autologin: true,
		params: '%3D'
	});
</script>

    </div>
</div>
<div class="clear"></div>
<!-- end template header.html -->
